<configuration>
  <system.webServer>
    <handlers>
      <add name="FlaskHandler" 
           path="*" 
           verb="*" 
           modules="FastCgiModule"
           scriptProcessor="C:\Python310\python.exe|C:\Python310\Lib\site-packages\wfastcgi.py"
           resourceType="Unspecified" />
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
  </system.webServer>
  <appSettings>
    <add key="WSGI_HANDLER" value="run.app" />
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\EasyRead\DEV\FlaskApp" />
    <add key="WSGI_LOG" value="C:\logs\flask.log" />
  </appSettings>
</configuration>
